# UTILS
mcd () {
  mkdir -p "$@" && cd "$@";
}

mat () {
  echo " scale=4; "$*" " | bc;
}

push () {
  msg="New update $(date +%s)";
  if [ -n "$*" ]; then
    msg="$*"
  fi
  git add .
  git commit -m "${msg}"
  git push
}

