[includeIf "gitdir:~/go/src/personal/"]
    path = ~/.gitconfig.personal
[includeIf "gitdir:~/dotfiles/.git"]
    path = ~/.gitconfig.personal
[includeIf "gitdir:~/.config/nvim/"]
    path = ~/.gitconfig.personal
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[user]
  signingkey = /Users/psoto/.ssh/id_ed25519_melisource.pub
  name = psoto_meli
  email = pascual.soto@mercadolibre.cl
[github]
    user = psotou
[core]
    excludesfile = ~/.gitignore
    editor = nvim
	hooksPath = /Users/psoto/.config/git/hooks/
	symlinks = false
[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red
    new = green
[alias]
    co = checkout
    rbi = "!f() { git rebase -i HEAD~$1; }; f"
    can = commit -a --amend --no-edit
    sw = switch
[init]
    defaultBranch = main
[push]
    autoSetupRemote = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@github.com:mercadolibre/"]
	insteadOf = https://github.com/mercadolibre/
[url "git@github.com-emu:melisource/"]
	insteadOf = https://github.com/melisource/
	insteadOf = git@github.com:melisource/
[url "git@github.com-emu:psoto_meli"]
	insteadOf = https://github.com/psoto_meli
	insteadOf = git@github.com:psoto_meli
[pull]
	rebase = true

[gpg]
  format = ssh

[commit]
  gpgsign = true
